#title{
    /* position: absolute;
left: 11.46%;
right: 60.49%;
top: 3.07%;
bottom: 95.35%; */

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;

color: #0BA1C1;
}

#text1{
font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;

color: #757575;
margin-top: -20px;
}

#input{
    width: 230px;
    height: 50.12px;
    border: 1px solid #000000;
}


#text2{
    font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #757575;
}