#titre2{
    font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 44px;

color: #0BA1C1;
text-align: left;
}

#text1{
    font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 28px;

color: #757575;
}