#text3{
    font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.188679px;
color: white

}

#text4{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.188679px;
    
    color: #FFFFFF;
}
/* 
#text5{
    font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.188679px;

color: #FFFFFF;
} */


#econItem{
    font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.169811px;

color: #101014;
text-align: left;
margin-top: 20px;
}