#mcTitre{
    font-family: Muli;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #000000;

}

#mcText{
    font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
text-align: center;
letter-spacing: 0.169811px;

color: #101014;
}

#mcText2{
    font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
/* identical to box height */

letter-spacing: 0.169811px;

color: #666666;
}